---
http_interactions:
- request:
    method: patch
    uri: https://api.appbase.io/testapp/v2/test_api/iron/~properties
    body:
      encoding: UTF-8
      string: '{"data":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Appbase-Secret:
      - c1506ccb1db1ef61dc07f3546decf281
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"foo":"bar","timestamp":1423212956131,"_id":"test_api`54d47e8eb984f4bd156a7955"}'
  recorded_at: Fri, 06 Feb 2015 07:12:00 GMT
- request:
    method: patch
    uri: https://api.appbase.io/testapp/v2/test_api/ice/~properties
    body:
      encoding: UTF-8
      string: '{"data":{"cat":"dog"}}'
    headers:
      Content-Type:
      - application/json
      Appbase-Secret:
      - c1506ccb1db1ef61dc07f3546decf281
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cat":"dog","timestamp":1423212958717,"_id":"test_api`54d47e92b984f4bd156a7957"}'
  recorded_at: Fri, 06 Feb 2015 07:12:00 GMT
- request:
    method: patch
    uri: https://api.appbase.io/testapp/v2/test_api/ice/~edges
    body:
      encoding: UTF-8
      string: '{"data":{"anEdge":{"path":"test_api/iron"}}}'
    headers:
      Content-Type:
      - application/json
      Appbase-Secret:
      - c1506ccb1db1ef61dc07f3546decf281
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":"test_api`54d47e92b984f4bd156a7957","edges":{"anEdge":{"t_id":"test_api`54d47e8eb984f4bd156a7955","timestamp":1423212960068}}}'
  recorded_at: Fri, 06 Feb 2015 07:12:00 GMT
- request:
    method: delete
    uri: https://api.appbase.io/testapp/v2/test_api/ice/~edges?data%5B%5D=anEdge
    body:
      encoding: UTF-8
      string: '{"data":["anEdge"]}'
    headers:
      Content-Type:
      - application/json
      Appbase-Secret:
      - c1506ccb1db1ef61dc07f3546decf281
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":"test_api`54d47e92b984f4bd156a7957","edges":{"anEdge":{"timestamp":1423212961747,"t_id":""}}}'
  recorded_at: Fri, 06 Feb 2015 07:12:00 GMT
recorded_with: VCR 2.9.3
