---
http_interactions:
- request:
    method: post
    uri: https://api.appbase.io/testapp/v2/test_api/~list
    body:
      encoding: UTF-8
      string: '{"data":null}'
    headers:
      Content-Type:
      - application/json
      Appbase-Secret:
      - c1506ccb1db1ef61dc07f3546decf281
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"_id":"54d4703cb984f4bd156a76ac","timestamp":1423209005094,"rootPath":"test_api/abc"}]'
  recorded_at: Fri, 06 Feb 2015 07:12:00 GMT
recorded_with: VCR 2.9.3
