---
http_interactions:
- request:
    method: patch
    uri: https://api.appbase.io/testapp/v2/test_api/notebook/~properties
    body:
      encoding: UTF-8
      string: '{"data":{"foo":"some joke"}}'
    headers:
      Content-Type:
      - application/json
      Appbase-Secret:
      - c1506ccb1db1ef61dc07f3546decf281
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"foo":"some joke","timestamp":1423624736692,"_id":"test_api`54d48a22b984f4bd156a7c61"}'
  recorded_at: Fri, 06 Feb 2015 07:12:00 GMT
- request:
    method: post
    uri: https://api.appbase.io/testapp/v2/test_api/~search
    body:
      encoding: UTF-8
      string: '{"query":{"text":"joke","properties":["foo"]}}'
    headers:
      Content-Type:
      - application/json
      Appbase-Secret:
      - c1506ccb1db1ef61dc07f3546decf281
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"_id":"test_api`54d48a22b984f4bd156a7c61","timestamp":1423624736692,"rootPath":"test_api/notebook","foo":"some
        joke"}]'
  recorded_at: Fri, 06 Feb 2015 07:12:00 GMT
recorded_with: VCR 2.9.3
